<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTTM AI</title>

    <style>
        .main {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 5px solid #FFFF00;
            padding: 10px;
        }

        body {
            color: white;
            background-color: lightslategrey;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Welcome to BTTM AI</h1>
        <i>BTTM AI is an image generator</i>
        <a href="https://discord.gg/3jmDHT6pAr">Join the discord server to generate your AI images now!</a>
    </div>
</body>
</html>